
.principal{
    height: 80vh;
    display: flex;
    justify-content: center;
}

.container{
    font-size: 26px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    form{
        border: solid 2px rgba(0, 86, 149, 1);
        width: 25vw;
        height: 60vh;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        div{
            font-size: 24px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-around;
            color: rgba(0, 86, 149, 1) ;
        }
        input{
         border: solid 2px rgba(0, 86, 149, 1);
         width: 22vw;
         height: 5vh;
         border-radius: 10px;
         outline: none;
         padding-left: 20px;
         &::placeholder{
            color: black;
           }
           
        }
        .doar{
         background-color: #005695;
         width: 10vw;
         height: 6vh;
         padding-left: 0;
         color: white;
         font-size: 18px;
        }
   }    
}

@media(max-width:1280px){
    .principal{
        // border: solid 2px goldenrod;
    }
    .container{
        // border: solid 2px green;
        form{
            width: 325px;
            input{
                width: 280px;
            }
            .doar{
                width: 130px;
            }
        }
    }
}

@media(max-width:930px){
    .container{
        h2{
            // border: solid 2px yellow;
            text-align: center;
            font-size: 25px;
        }
    }
}

@media(max-width:400px){
    .container{
        p{
            font-size: 20px;
            text-align: center;
        }
        form{
            div{
                h3{
                    font-size: 5vw;
                }
                img{
                    width: 15vw;
                }
            }

            width: 80vw;
            input{
                width: 80%;
            }
            .doar{
                width: 30vw;
            }
        }
    }
}