

header {
    height: 20vh;
    align-items: center;
    display: flex;
    justify-content: space-between;
    background: linear-gradient( rgba(0, 27, 47, 1),rgba(0, 86, 149, 1));
}

.boxLogo{
    width: 23vw;
    display: flex;
    align-items: center;
    justify-content: space-around;

    h1{ font-size: 25px;
        color: rgba(255, 255, 255, 1);
        ;
    }

}

.boxMenu{
       // border: solid 2px greenyellow;
        width: 35vw;

      ul{
        display: flex;
        align-items: center;
        justify-content: space-between;
        a{
            color: white;
            font-size: 20px;

        } 

    }
}


.boxInput{ 
    border: solid 2px white;
    width: 17vw;
    margin-right: 20px;
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 15px;
    input{
        outline: none;
        background-color: transparent;
        border: none;
        color: white;
        font-size: 15px;
        padding-left: 6px;
        width: 12vw;
        &::placeholder{
            color: white;
        }
    }
}

@media(max-width: 1170px){

      .boxLogo{
        width: 25vw;
        h1{
            font-size: 2.0vw;
        }
        img{
            width: 5vw;
        }
      }
      .boxInput{
         input{
        &::placeholder{
            font-size: 1vw;
        }
      }
    }
} 

