
footer{
    height: 30vh;
    width: 100%;
}

.boxsocial {
    background-color: #0056a6;
    height: 20vh; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding-left: 50px;
    padding-right: 50px;
    nav{
        width: 16vw;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.boxEnd{
    background-color: rgba(35, 32, 32, 1) ;
    height: 10vh;
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media(max-width:1000px){
    .boxsocial{
        nav{
            width: 30vw;
            justify-content: center;
        }
    }
}

@media(max-width:479px){
    .boxsocial{
        flex-direction: column;
        justify-content: space-evenly;
    }
    .boxEnd{
        p{
            text-align: center;
        }
    }
}