
.boxDoados{
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.boxBooks{
    width: 85vw;
    height: 60vh;
    display: flex;
    justify-content: space-evenly;
    article{
        width: 15vw;
        height: 32vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        border-radius: 15px;
        border: solid 2px rgba(0, 86, 149, 1);
        img{
            width: 105px;
        }
    }
.boxlivro{
    img{
        width:60px;
    }
}
.boxlivro2{
    img{
        width:60px;
    }
}


}
@media(max-width:1000px){
    .boxDoados{
        justify-content: space-around;
    }

    .boxBooks{
        article{
            width:200px;
            height: 230px;
        }
    }
}

@media(max-width:520px){
    .boxBooks{
        flex-wrap: wrap;
        gap: 10px;
        height: auto;
    }
    .boxDoados{
        height: auto;
        padding-bottom: 20px;
    }
}