
.boxDoados{
  //  border: solid 2px red;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.boxBooks{
    border: solid 2px yellow;
    width: 85vw;
    height: 60vh;
    article{
        border: solid 2px rgba(0, 86, 149, 1);
        width: 15vh;
        height: 32vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        border-radius: 15px;
    }

}

// .box{
//     background-color: red;
// }
